<div class="loading-overlay">
	<div class="loading-box anim">
		<div class="loading-head heading-text">Loading&hellip;</div>
	</div>
</div>
<div class="scroll-main">
	<div class="content-container">
		<main class="main-page">
			<div class="name-heading-box">
				<h1>Zane St. John</h1>
				<aside class="subtitle">2019 SPCS Expository Writing Portfolio</aside>

				<h2 class="subheading nav-subheading">Galleries</h2>
				<nav class="nav-options">
					<a href="https://drive.google.com/drive/folders/1Nn51B8uKWrDVktPq9nw7yJlUCGsI8VKB?usp=sharing" target="_blank">
						<div class="nav-options-item">
							<div class="thumb writing">
								<img src="./img/IMG_1142.jpg" />
							</div>
							<div class="text">
								<span>Writing</span>
							</div>

						</div>
					</a>
					<div class="nav-options-item">
						<div class="thumb photography">
							<img src="./img/MovingWall_Composite.jpg" />
						</div>
						<div class="text">
							<span>Photography</span>
						</div>
						<div class="photo-count-outer">
							<span id="photoCount">Loading&hellip;</span>
						</div>
					</div>
				</nav>

				<h2 class="subheading">Introduction</h2>
				<p>I chose these pieces of writing because they are the best examples of my writing voice. The writings are connected by the development of my voice in this program. While all of my pieces underscore my growth as a writer, these five best highlight the uniqueness of my writing style. The selected writings reveal something about me as an author: I enjoy the juxtaposition of imagery and writing. Up until recently, I did not realize the extent to which I loved incorporating images into my writing, as most of my school assignments and other writings have limited my creative freedom in that respect. From now on, when appropriate, I intend to augment my writing so that readers of my work visualize vivid pictures in their heads.</p>

				<h2 class="subheading">Photography Selection</h2>
				<p>I mainly chose the photos that I did because they help tell the story of my three weeks living and studying at the Stanford campus. Although the photos take place in different parts of campus, the city, and surrounding areas, they all portray the narrative of my stay at the Stanford Pre-Collegiate Summer Institutes. I have a feeling that one day, many years from now, I will look back at the photos I chose for this presentation and reminisce back to the days of my adolescence. The pictures will almost certainly help me remember what my experience was like and make my memories of the program more vibrant.</p>

				<h2 class="subheading">Final Reflection</h2>
				<p>Through participating in this expository writing program and completing class exercises, I have learned much about my writing voice and how I like to write. As it turns out, I also write efficiently, concisely, and well when I enjoy the subject matter or find it interesting, yet I find it more difficult to write when the topic is something I either know nothing about or in which I am not interested. In addition, I quite enjoy incorporating descriptive language and imagery into my writing, something I did not realize until recently. The “photographic eye” developed in this course allows for better imagery in writing.</p>

				<p>Honing my photographic eye has allowed me to create better explanations and incorporate more descriptive language into my writing. Thinking about the story, composition, and light in photography causes me to incorporate descriptions of such features into many of my pieces of writing. My perspective as a writer has also been augmented by the use and learning of photography during this session. While taking photographs of objects from different perspectives, I noticed a parallel between perspective in writing and photography: photos taken from different perspectives give viewers various points of view, just as writing from different perspectives provides readers with a plethora of potential opinions. Perspective holds importance in both writing and photography because those viewing either medium benefit from diverse points of view. I am grateful for having the opportunity to explore the correlation between photography and writing, letting me advance my skills in both subjects.</p>
			</div>
		</main>

	<!-- It's 2 AM, and I'm tired. I had to resort to a third-party lightbox, okay? Sorry. -->
	<!-- Root element of PhotoSwipe. Must have class pswp. -->
	<div id="photo-gallery" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
		<!-- Background of PhotoSwipe. 
			It's a separate element as animating opacity is faster than rgba(). -->
		<div class="pswp__bg"></div>
		<!-- Slides wrapper with overflow:hidden. -->
		<div class="pswp__scroll-wrap">
			<!-- Container that holds slides. 
				PhotoSwipe keeps only 3 of them in the DOM to save memory.
				Don't modify these 3 pswp__item elements, data is added later on. -->
			<div class="pswp__container">
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
			</div>
			<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
			<div class="pswp__ui pswp__ui--hidden">
				<div class="pswp__top-bar">
					<!--  Controls are self-explanatory. Order can be changed. -->
					<div class="pswp__counter"></div>
					<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
					<button class="pswp__button pswp__button--share" title="Share"></button>
					<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
					<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
					<!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
					<!-- element will get class pswp__preloader--active when preloader is running -->
					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
							<div class="pswp__preloader__cut">
								<div class="pswp__preloader__donut"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					<div class="pswp__share-tooltip"></div>
				</div>
				<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
				</button>
				<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
				</button>
				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>
			</div>
		</div>
	</div>

		<div class="entry-shadow"></div> <!-- inset shadow when loading screen goes away (looks cool, a bit hard to explain) -->
	</div>
</div>